#footer {
    background-color: #8C1515;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

#footer-bottom {
    background-color: #8C1515;
}

#footer h3 {
    text-transform: uppercase; 
    color: #910000; 
    font-size: 18px;
    font-weight: 700;
    padding-left: 40px;
    margin-top: 25px;
    border-bottom: 1px solid #910000;
}

#footer ul, #footer-bottom ul {
    list-style: none;
    font-size: 16px;
}

#footer ul a {
    color: black;
}

#footer-bottom a {
    color: white;
    font-size: 12px; 
    text-transform: uppercase;
}

#footer-brand {
    font-size: 3.5em; 
    font-family: 'Crimson Text', serif;
    margin-bottom: 0px;
    text-transform: none;
    color: #FFFFFF;
    letter-spacing: -0.75px;
}

#footer-contact {
    padding-right:6px;
    padding-bottom:6px;
}

#footer-weather {
}
