/* General styling */
/* Mixins */
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase; }

.no-padding, .container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important; }

.disabled {
  pointer-events: none; }

.row {
  margin-right: 0px;
  margin-left: 0px; }

.img-fit {
  height: 100%;
  width: auto;
  max-height: calc(100% + 1px);
  min-width: calc(100% + 1px);
  min-height: calc(100% + 1px);
  -o-object-fit: cover;
  object-fit: cover; }

.top-border {
  border-top: 1px solid #c8cdce; }

.bottom-border {
  border-bottom: 1px solid #c8cdce; }

.mr-left {
  margin-left: 30px; }
