/* General styling */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}
/* .push-down {
    padding-top: 114px;
} */

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.disabled {
    pointer-events: none;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.img-fit {
    height: 100%;
    width: auto;
    max-height: calc(100% + 1px);
    min-width: calc(100% + 1px);
    min-height: calc(100% + 1px);
    object-fit: cover;
}
.top-border {
    border-top: 1px solid #c8cdce;
}
.bottom-border {
    border-bottom: 1px solid #c8cdce;
}
.mr-left {
    margin-left: 30px;
}
/* All media queries */

@media (max-width: 767.98px) {}
/* For devices less than the width of a tablet */

@media (max-width: 922px) {}
/* For devices less than the width of a laptop (basically between tablet and laptop) */

@media (max-width: 1200px) {
    /*.push-down {
        padding-top: 76px;
    } */
}
/* --------------------------------------------- */

/* Use for debugging or checking alignment */

/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */