body {
    font-family: 'Noto Serif JP', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.section-header {
    margin-left:auto;
    border:2px solid grey;
    display:inline-block;
}

.row-top-index {
    text-align: center;
    border-top: 1px solid #7A7878;
}
.row-bottom-index {
    text-align: center;
    border-bottom: 50px transparent;
}

.calendar {
    background-color: #f2f2f2 !important;
    border-top: 1px solid #444D56;
    border-bottom: 1px solid #444D56;
    padding-bottom: 30px;
    padding-top: 25px;
    margin-top: 50px;
}

.disabled {
    pointer-events: none;
}
/*.twitter-feeds {
    background-color: #FAF9FA;
    min-height: 450px;
    vertical-align: middle;
    padding-bottom: 50px;
}
.twitter-timeline {
    background-color: #FFFFFF;
    height: 375px;
    min-width: 200px;
    width: 325px;
    margin: auto;
}*/
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}