body {
    font-family: 'Noto Serif JP', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.calendar {
    border-top: 1px solid #444D56;
    border-bottom: 1px solid #444D56;
    padding-bottom: 30px;
    padding-top: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.calendar h3 {
    display: block;
}
.calendar .date {
    display: block;
}
.calendar .month {
    font-size: 1.1em;
    letter-spacing: 0.09em;
    padding-right: 200px;
}
.calendar .day {
    font-size: 1.75em;
    padding-right: 200px;
}
.disabled {
    pointer-events: none;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}