body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.disabled {
    pointer-events: none;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

#frontpage-carousel {
    margin-bottom: 0px;
}

.carousel {
    margin-bottom: 25px;
    overflow: hidden;
}

#news-header-label {
    text-align: center;
    text-transform: none;
    font-weight: 900;
    letter-spacing: -1px;
    color: #000;
    font-size: 3.0517578125em;
    margin-bottom: 20px;
    margin-top: 75px;
    font-family: 'Source Sans Pro', sans-serif;
}

#news-header-desc {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 70px;
}

article {
    width: 335px;
    min-height: 355px;
    margin-left: 30px;
    margin-bottom: 30px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    box-shadow: 0 0 10px rgba(0,0,0,.15), 0 3px 3px rgba(0,0,0,.15);
}

.article-img {
    height: 215px;
    background-color: grey;
    margin-bottom: 0px;
    overflow: hidden;
}

.article-long {
    width: 715px
}
.article-long > .content {
    padding-bottom: 60px !important;
}

.news-container {
    background-color: #F9F6EF;
}

.content {
    background-color: #FFF;
    padding: 28px;
    color: #000000;
    box-shadow: none;
    padding-bottom: 35px;
}

.content > h3 {
    font-size: 1.250em;
    font-weight: 600;
    text-transform: none;
    margin-bottom: 0px;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
}

.post-category {
    color: #910000;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 4px;
}

#all-news-btn, #all-events-btn {
    text-align: center;
    border-radius: 0px;
    background-color: #B1040E;
    color: white;
    font-weight: 600;
    font-size: 1.5em;
    display: inline-block;
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    margin-bottom: 90px;
    border: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}
#events-header-label {
    text-align: center;
    text-transform: none;
    font-weight: 900;
    letter-spacing: -.5px;
    color: #FFF;
    font-size: 3.0517578125em;
    margin-bottom: 20px;
    margin-top: 75px;
    font-family: 'Source Sans Pro', sans-serif;
}
#events-header-desc {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 70px;
    color: #FFF;
}
.calendar {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    background-color: #fff;
    height: 100px;
    overflow: hidden;
}
.events-container {
    background-color: #2F2424;
}

.event-link-btn {
    text-align: center;
    border-radius: 0px;
    background-color: #B1040E;
    color: white;
    font-weight: 600;
    font-size: 1em;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.event-link-btn-disabled {
    text-align: center;
    border-radius: 0px;
    background-color: #B1040E;
    color: white;
    font-weight: 600;
    font-size: 1em;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.calendar h3 {
    display: block;
    line-height: 0.9;
}

.month {
    font-size: 0.9em;
    letter-spacing: 0.09em;
    font-weight: 400;
}

.day {
    font-size: 1.2em;
    font-weight: 600;
}

.calendar .date {
    min-height: 60px;
    width: 75px;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #2F2424;
    padding-left: 0px;
    padding-right: 0px;
    color: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.25), 0 3px 3px rgba(0,0,0,.25);
}

.event-link {
    color: #910000; 
    text-transform: uppercase; 
    font-size: 0.9em;
    letter-spacing: 0.015em;
    font-weight: 500;
}

.cal-meta {
    font-weight: 600;
    font-size: 1.1em;
    float: left;
    margin-top: 20px;
}
.cal-category {
    text-transform: uppercase;
    color: #910000;
    font-size: 0.95em;
    padding-bottom: 5px;
}

.sm-title {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    color: #004466;
    letter-spacing: .05em;
    margin-bottom: 20px;
}

.time-span {
    font-size: .75em;
    font-weight: 700;
    color: #303030;
    letter-spacing: .05em;
}

.tweet-content {
    font-size: 1.1em;
    font-weight: 100 !important;
    color: #2f2f2f;
    line-height: 1.75em;
    margin-bottom: 20px;
}

.fa-twitter {
    color: #E0E0E0;
    font-size: 30px;
    margin-bottom: 5px;
}

.fa-instagram { 
    color: #E0E0E0;
    font-size: 30px;
    margin-bottom: 5px;
}

.social-media {
    text-align: center;
    padding-top: 40px;
    border-top: 1px solid #000;
}
#social-header-label {
    text-align: center;
    text-transform: none;
    font-weight: 900;
    letter-spacing: -1px;
    color: #000;
    font-size: 3.0517578125em;
    margin-bottom: 20px;
    margin-top: 75px;
    font-family: 'Source Sans Pro', sans-serif;
}
#social-header-desc {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 50px;
}

#embed-ig {
    max-height: 360px;
    height: 360px;
    max-width: 360px;
    width: 360px;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.instagram {
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    #all-news-btn, #all-events-btn {
        padding-left: 50px;
        padding-right: 50px;
    }
    .article-long {
        width: 335px !important;
    }
    article {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .calendar {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 100px;
    }

    .event-link-btn {
       display: none;
   }

   .event-link-btn-disabled {
        display: none;
    }

    .month {
        font-size: 0.7em;
    }

    .day {
        font-size: 1em;
    }

    .calendar .date {
        min-height: 60px;
        max-width: 75px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 15px;
        margin-right: 0px;
    }

    .cal-meta {
        font-size: 1.1em;
        margin-left: 25px;
        margin-top: 15px;
        width: 100%;
        display: block;
    }

    .cal-category {
        font-size: 0.95em;
    }
    .calendar > .col-sm-2 {
        width: 100px;
        height: 100px;
    }
    .calendar > .col-sm-8 {
        max-width: 225px;
        margin: 0;
    }
}
/*
  Docs at http://http://simpleweatherjs.com

  Look inspired by http://www.degreees.com/
  Used for demo purposes.

  Weather icon font from http://fonts.artill.de/collection/artill-weather-icons

  DO NOT hotlink the assets/font included in this demo. If you wish to use the same font icon then download it to your local assets at the link above. If you use the links below odds are at some point they will be removed and your version will break.
*/

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}


#weather {
  width: 500px;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

i {
  color: #fff;
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  text-transform: none;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather h2 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}

/* use for debugging */
/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/
