@import 'base/colors';
@import 'base/typography';
@import 'partial';
.horizontal {
    list-style-type: none;
    display: inline;
}
/*-----------------------------------*/

#footer {
    @include text($font: $primary-font);
    border-top: 1px solid #e7e7e7;
    ul {
        @include text($size: 1.1em);
        list-style: none;
        a {
            color: $black;
        }
    }
    h3 {
        @include text($color: $red-primary, $size: 1.1em, $weight: 700, $transform: uppercase, $spacing: 0.25px);
    }
    #footer-top {
        @include margin($top: 50px);
        background-color: $white;
        ul {
            @include padding($left: 0px);
            line-height: 2em;
        }
    }
    #footer-bottom {
        @include text($color: $white);
        background-color: $red-secondary;
        height: 90px;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            @include text($size: 1.1em);
            li a {
                float: left;
            }
        }
        a {
            color: $white;
            @include text($transform: none);
        }
        #footer-bottom-left {
            float: left;
        }
        #footer-bottom-right {
            float: right;
        }
    }
}
/* Bottom footer specific */

/* Content on the left of bottom footer */

#footer-brand {
    color: #FFFFFF;
    font-size: 3em !important;
    font-family: 'Crimson Text', serif;
    text-transform: none;
    letter-spacing: -0.75px;
    float: left;
    height: 55px;
    padding-left: 45px;
    margin-top: 5px;
    margin-bottom: 0px;
}
#global-footer-content {
    line-height: 10px;
    height: 10px;
    margin-top: 60px !important;
}
#global-footer-info {
    font-weight: 200;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 45px;
}
#global-footer-contact {
    text-transform: none;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}
/* Content on the right of the bottom footer */

#weather {
    float: right;
}
/* All media queries */

@media (max-width: 576px) {
    #weather {
        margin-top: 30px !important;
    }
    #location {
        font-size: 14px;
    }
    #currently {
        font-size: 14px;
    }
}
/* For devices less than the max-width of a phone */

@media (max-width: 767.98px) {
    #footer-brand {
        font-size: 2.5em !important;
        padding-left: 0px;
        height: 45px;
    }
    #global-footer-info {
        padding-left: 0px;
    }
    #global-footer-content {
        margin-top: 50px !important;
        height: 10px;
        line-height: 15px;
        max-width: 140px;
    }
    #footer-bottom-right {
        max-width: 187.5px;
        padding: 0px;
    }
    #footer-bottom-left {
        max-width: 187.5px;
    }
}