/* Mixins */

@mixin margin($top: null, $right: null, $bottom: null, $left: null) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}
@mixin padding($top: null, $right: null, $bottom: null, $left: null) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}
@mixin text($font: null, $color: null, $size: null, $weight: null, $transform: null, $align: null, $style: null, $spacing: null) {
    font-family: $font;
    color: $color;
    font-weight: $weight;
    font-size: $size;
    text-transform: $transform;
    text-align: $align;
    font-style: $style;
    letter-spacing: $spacing;
}