/* Carousel styling */

$carousel-height: 400px;
$white: #fff;
$black: #000;
$text-red: #910000;
$primary-red: #b1040e;
$font-light: 200;
$font-regular: 400;
$font-medium: 600;
$font-bold: 700;
$font-extra-bold: 900;
$social-media-title: #004466;
$social-media-content: #2f2f2f;
$social-media-icon: #e0e0e0;
$social-media-timespan: #303030;
$font: 'Source Sans Pro', sans-serif;
@import 'partial';
#frontpage-carousel {
    @include margin($bottom: 0px);
}
.carousel {
    overflow: hidden;
}
.carousel-inner {
    height: $carousel-height;
}
.carousel-item {
    height: $carousel-height;
}
.carousel-item img {
    object-fit: cover;
    height: 100%;
}
/* News section */

#news-header-label {
    @include margin($top: 75px, $bottom: 20px);
    @include text($font: $font, $color: $white, $size: 3.0517578125em, $weight: $font-extra-bold, $transform: none, $align: center, $spacing: -1px);
}
#news-header-desc {
    @include margin($bottom: 70px);
    @include text($size: 1.5em, $align: center);
}
.news-container {
    background-color: #F9F6EF;
}
article {
    @include margin($bottom: 30px, $left: 30px);
    @include padding($right: 0px !important, $left: 0px !important);
    width: 335px;
    min-height: 355px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15), 0 3px 3px rgba(0, 0, 0, .15);
}
.article-img {
    @include margin($right: 0px, $bottom: 0px, $left: 0px);
    height: 215px;
    background-color: grey;
    overflow: hidden;
}
.article-long {
    width: 715px;
}
.article-long>.content {
    @include padding($bottom: 60px !important);
}
.post-category {
    @include margin($bottom: 4px);
    @include text($color: $text-red, $weight: $font-medium, $transform: uppercase);
}
.content {
    @include padding($top: 28px, $right: 28px, $bottom: 35px, $left: 28px);
    @include text($color: $black);
    background-color: $white;
    box-shadow: none;
}
.content>h3 {
    @include margin($bottom: 0px);
    @include text($font: $font, $size: 1.25em, $weight: $font-medium, $transform: none, $align: left);
}
/* All news/events button (same styling, different sections */

#all-news-btn, #all-events-btn {
    @include margin($top: 25px, $bottom: 90px);
    @include padding($top: 10px, $right: 125px, $bottom: 10px, $left: 125px);
    @include text($color: $white, $size: 1.5em, $weight: $font-medium, $align: center);
    border-radius: 0px;
    background-color: $primary-red;
    display: inline-block;
    border: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
/* Events/calendar section */

#events-header-label {
    @include margin($top: 75px, $bottom: 20px);
    @include text($font: $font, $color: $white, $size: 3.0517578125em, $weight: $font-extra-bold, $transform: none, $align: center, $spacing: -.5px);
}
#events-header-desc {
    @include margin($bottom: 70px);
    @include text($color: $white, $size: 1.5em, $align: center);
}
.calendar {
    @include margin($top: 20px, $bottom: 20px);
    @include text($font: $font, $color: $black);
    background-color: $white;
    height: 100px;
    overflow: hidden;
}
.calendar h3 {
    display: block;
    line-height: 0.9;
}
.day {
    @include text($size: 1.2em, $weight: $font-medium);
}
.month {
    @include text($size: 0.9em, $weight: $font-regular, $spacing: 0.09em);
}
.calendar .date {
    @include margin($top: 13px, $right: 30px, $bottom: 13px, $left: 30px);
    @include padding($top: 10px, $right: 0px, $bottom: 10px, $left: 0px);
    @include text($color: $white);
    min-height: 60px;
    width: 75px;
    background-color: #2F2424;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25), 0 3px 3px rgba(0, 0, 0, .25);
}
.events-container {
    background-color: #2F2424;
}
.cal-category {
    @include padding($bottom: 5px);
    @include text($color: $text-red, $size: 0.95em, $transform: uppercase);
}
.cal-meta {
    @include margin($top: 20px);
    @include text($size: 1.1em, $weight: $font-medium);
    float: left;
}
.event-link-btn {
    @include margin($top: 30px, $bottom: 30px);
    @include padding($top: 10px, $right: 30px, $bottom: 10px, $left: 30px);
    @include text($color: $white, $size: 1em, $weight: $font-regular, $align: center, $spacing: 0.70px);
    border-radius: 0px;
    background-color: $primary-red;
    display: inline-block;
    border: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.event-link-btn-disabled {
    @include margin($top: 30px, $bottom: 30px);
    @include padding($top: 10px, $right: 30px, $bottom: 10px, $left: 30px);
    @include text($color: $white, $size: 1em, $weight: $font-regular, $align: center, $spacing: 0.70px);
    border-radius: 0px;
    background-color: $primary-red;
    display: inline-block;
    border: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    opacity: .65;
}
.event-link {
    @include text($color: $text-red, $size: 0.9em, $weight: $font-regular, $transform: uppercase, $spacing: 0.015em);
}
/* Social media section */

.social-media {
    @include padding($top: 40px);
    @include text($align: center);
}
#social-header-label {
    @include margin($top: 75px, $bottom: 20px);
    @include text($font: $font, $color: $black, $size: 3.0517578125em, $weight: $font-extra-bold, $transform: none, $align: center, $spacing: -1px);
}
#social-header-desc {
    @include padding($bottom: 50px);
    @include text($size: 1.5em, $align: center);
    border-bottom: 1px solid $black;
}
.fa-twitter {
    @include margin($bottom: 5px);
    @include text($color: $social-media-icon, $size: 30px);
}
.fa-instagram {
    @include margin($bottom: 5px);
    @include text($color: $social-media-icon, $size: 30px);
}
.sm-title {
    @include margin($bottom: 20px);
    @include text($color: $social-media-title, $size: 1em, $weight: $font-medium, $spacing: .05em);
}
.tweet-content {
    @include margin($bottom: 20px);
    @include text($color: $social-media-content, $size: 1.1em, $weight: $font-light !important);
    line-height: 1.75em;
}
.instagram {
    @include margin($bottom: 40px);
}
#embed-ig {
    @include margin($right: auto, $left: auto);
    max-height: 360px;
    height: 360px;
    max-width: 360px;
    width: 360px;
    overflow: hidden;
    display: block;
    width: 100%;
    -webkit-box-shadow: 0px 0px 24px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 24px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 24px 3px rgba(0, 0, 0, 0.1);
}
.time-span {
    @include text($color: $social-media-timespan, $size: .75em, $weight: $font-bold, $spacing: .05em);
}
@media (max-width: 767.98px) {
    article {
        @include margin($bottom: 30px);
        margin: 0 auto;
    }
    .article-long {
        width: 335px !important;
    }
    #all-news-btn, #all-events-btn {
        @include padding($right: 50px, $left: 50px);
    }
    .calendar {
        @include margin($top: 20px, $bottom: 20px);
        height: 100px;
    }
    .calendar>.col-sm-2 {
        width: 100px;
        height: 100px;
    }
    .calendar>.col-sm-8 {
        max-width: 225px;
        margin: 0;
    }
    .calendar .date {
        @include margin($top: 15px, $right: 0px, $bottom: 15px, $left: 15px);
        min-height: 60px;
        max-width: 75px;
    }
    .day {
        @include text($size: 1em);
    }
    .month {
        @include text($size: 0.7em);
    }
    .event-link-btn {
        display: none !important;
    }
    .event-link-btn-disabled {
        display: none !important;
    }
    .cal-meta {
        @include margin($top: 15px, $left: 25px);
        @include text($size: 1.1em);
        width: 100%;
        display: block;
    }
    .cal-category {
        @include text($size: 0.95em);
    }
}
@media (max-width: 576px) {
    .carousel-inner {
        height: 200px !important;
    }
    .carousel-item {
        height: 200px !important;
    }
    .time-span {
        @include margin($bottom: 40px);
    }
}
@media (max-width: 768px) {
    .carousel-inner {
        height: 350px;
    }
    .carousel-item {
        height: 350px;
    }
}
/* For devices less than the width of a tablet */

@media (max-width: 922px) {
    .event-link-btn {
        display: none;
    }
    .event-link-btn-disabled {
        display: none;
    }
}
/* For devices less than the width of a laptop (basically between tablet and laptop) */

@media (max-width: 1200px) {
    article {
        @include margin($bottom: 30px !important);
        margin: 0 auto !important;
    }
}