#contact-header h1 {
	color: #414141;
	text-transform: none;
	text-align: left;
	font-size: 3em;
	pointer-events: none;
	font-weight: 300;
	font-family: 'Crimson Text', sans-serif;
	letter-spacing: -1px;
}
.info {
	color: #414141;
	text-transform: none;
	text-align: left;
	padding-left: 100px;
	margin-bottom: 50px;
	font-weight: 400;
}
.info h2 {
	font-size: 2em;
	text-transform: none;
	text-align: left;
	font-weight: 600;
	letter-spacing: -1px;
}
.info h3 {
	font-size: 1.4em;
	text-transform: none;
	text-align: left;
	font-weight: 600;
	letter-spacing: -1px;
}
.info ul {
	list-style: none;
}
#link {
	text-decoration: underline;
	color: #910000;
}
#contact-btn {
	background-color: transparent;
	border: 1px solid #910000;
	color: #910000;
	border-radius: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	text-transform: uppercase;
}