$white: #fff;
$black: #000;
$sandstone: #f9f6ef;
$dark-purplered: #2f2424;

$red-text: #910000;
$red-primary: #b1040e;
$red-secondary: #8c1515;

$social-media-title: #004466;
$social-media-content: #2f2f2f;
$social-media-icon: #e0e0e0;
$social-media-timespan: #303030;

$none: transparent;